.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  app-navigation {
    flex: 0 0 auto;
  }
  
  main {
    flex: 1;
    padding: 20px;
  }
  
  @media (min-width: 1024px) {
    .container {
      flex-direction: row;
    }
  
    app-navigation {
      width: 200px;
    }
  
    main {
      flex: 1;
      margin-left: 220px;
    }
  }
  